<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    {% include 'sections/head.tmpl' %}
    <title>{{ authority }}:{{ code }} {{ name }} -- Spatial Reference</title>
    <meta name="keywords" content="{{ authority }}, {{ code }}, {{ name }}, coordinate system, srs, crs" >
    <meta name="description" content="{{ authority }}:{{ code }} {{ name }} - spatial reference system" >
    {% include 'sections/leaflet.tmpl' %}
</head>

<body>
    <div id="header">
        {% include 'sections/header.tmpl' %}
        <div id="header_title">
            {{ authority }}:<wbr>{{ code }}
        </div>
    </div>
    <div id="searchbox">
        {% include 'sections/searchbox.tmpl' %}
    </div>

    <div id="navbar">
        {% include 'sections/navbar.tmpl' %}
    </div>

    <div id="content">
        Previous: <a href="{{ prev_url }}">{{ prev_full_name }}</a> | Next: <a href="{{ next_url }}">{{ next_full_name }}</a>

        <h1>{{ authority }}:{{ code }}</h1>
        <h2>{{ name|e }}</h2>
        <p>
          {%- if epsg_scaped_name %}
            View <a href="https://epsg.org/crs_{{ code }}/{{ epsg_scaped_name }}.html" target="_blank">
            EPSG.org definition for EPSG:{{ code }}</a> |
          {%- endif %}
            <a href="http://www.google.com/search?q={{ encoded_name }}" target="_blank">Google it</a>
        </p>
        {%- if error %}
        <div class="crs_error"><b>ERROR!</b> {{ error|e|replace(",", ",<wbr>") }}</div>
        {%- endif %}
        {%- if show_list %}
        <ul>
            <li><b>Type</b>: {{ crs_type }}</li>
            <li><b>WGS84 Bounds</b>: {{ bounds }}</li>
            <li><b>Scope</b>: {{ scope|e }}</li>
            <li><b>Area</b>: {{ area_name|e }}</li>
            {%- if projection_method_name %}
            <li><b>Projection method name</b>: {{ projection_method_name }}</li>
            {%- endif %}
            {%- if axes %}
            <li><b title="Info got from PROJJSON">Axes</b>: {{ axes.names }}
                    <span title="Abbreviation">({{ axes.abbr }})</span>.
                <b>Directions</b>: {{ axes.directions }}.
                <b title="Unit of Measurement">UoM</b>: {{ axes.units }}.
            </li>
            {%- endif %}
            {%- if base_crs %}
            <li><b>Base CRS</b>: <a href="{{ base_crs.url }}" title="{{ base_crs.title}}">{{ base_crs.text }}</a></li>
            {%- endif %}
            {%- if compound %}
            <li>
                <b>Horizontal CRS</b>: <a href="{{ compound.horizontal.url }}" title="{{ compound.horizontal.title}}">{{ compound.horizontal.text }}</a>
                <b>Vertical CRS</b>: <a href="{{ compound.vertical.url }}" title="{{ compound.vertical.title}}">{{ compound.vertical.text }}</a>
            </li>
            {%- endif %}
            {%- if deprecated %}
            <li><b class="darkred">Deprecated!</b>
                {%- if non_deprecated %}
                See {%- for nodep in non_deprecated|sort(attribute='text') %}
<a href="{{ nodep.url }}" title="{{ nodep.title}}">{{ nodep.text }}</a>{{ ", " if not loop.last else "" }}
                {%- endfor %} instead.
                {%- endif %}
            </li>
            {%- endif %}
        </ul>
        {%- endif %}

        <div class="list-box">
        <ul>
            <li>WKT-1
                <ul>
                    <li><a href="wkt.html">Well Known Text as HTML</a></li>
                    <li><a href="prettywkt.txt">Human-Readable OGC WKT</a></li>
                    <li><a href="ogcwkt">OGC WKT</a></li>
                </ul>
            </li>
            <li>WKT-2
                <ul>
                    <li><a href="wkt2.html">Well Known Text 2 as HTML</a></li>
                    <li><a href="prettywkt2.txt">Human-Readable OGC WKT2</a></li>
                </ul>
            </li>
            <li><a href="esriwkt.txt">ESRI WKT</a></li>
            <li><a href="#" onclick="download_prj('{{ code }}.prj', 'esriwkt.txt')" title="Download as PRJ file from ESRI">.PRJ</a></li>
            <li><a href="projjson.json" title="PROJJSON">JSON</a></li>
            <li><a href="proj4.txt">Proj4</a> (deprecated format)</li>
        </ul>
        </div>

        {%- if bounds_map %}
        <div id="map" class="map-container"></div>
        {%- endif %}
    </div>

    <div id="footer">
        {% include 'sections/footer.tmpl' %}
    </div>

    <script src="{{ home_dir }}/base.js"></script>
    <script>
        init_map([{{ bounds_map }}])
    </script>
</body>
</html>

