<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    {% include 'sections/head.tmpl' %}
    <title>Spatial Reference List -- Spatial Reference</title>
    <meta name="keywords" content="{{ authority if authority else '' }}, coordinate system, srs, crs" >
    <meta name="description" content="{{ authority if authority else '' }} - spatial reference systems" >
</head>

<body>
    <div id="header">
        {% include 'sections/header.tmpl' %}
        <div id="header_title">
            Spatial Reference List
        </div>
    </div>
    <div id="searchbox">
        {% include 'sections/searchbox.tmpl' %}
    </div>

    <div id="navbar">
        {% include 'sections/navbar.tmpl' %}
    </div>

    <div id="content">
        <div>
            <a class="prev_page" href="?page=1">Previous Page</a> | <a class="next_page" href="?page=2">Next Page</a>
        </div>
        <form>Search References:
            <input type="text" name="search" value="">
            <input type="submit" value="Search">
        </form>

        {%- if authority is defined and authority %}
        <p>You are only searching <b>{{ authority }}</b> references. <a class="only_searching" href="{{ home_dir }}/ref/?&amp;search=">Search All</a>?</p>
        {%- endif %}

        <p>Entries found: <span id="found"></span> <span id="searched_text"></span></p>
        <div class="outer-wrapper">
            <div class="inner-flexbox">
                <div id="list1">
                    <ul>
                    </ul>
                </div>
                <div id="list2">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <a class="prev_page" href="?page=1">Previous Page</a> | <a class="next_page" href="?page=2">Next Page</a>
        </div>
    </div>

    <div id="footer">
        {% include 'sections/footer.tmpl' %}
    </div>
    <script src="{{ home_dir }}/base.js"></script>
    <script>
        init_ref("{{ home_dir }}", "{{ authority if authority else '' }}")
    </script>

</body>
</html>
